* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

a {
    transition: .3s;
}

.fix {
    overflow: hidden;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.black-bg {
    background: #222;
}

.gray-bg {
    background: #f2f2f2;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pt-70 {
    padding-top: 70px;
}


.col-3 {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    float: left;
    padding: 0 15px;
}

.col-8 {
    width: 66.66%;
    float: left;
    padding: 0 15px;
}

.col-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
}


/* header section */

.header-area {
    border-top: 5px solid #4272d7;
    min-height: 120px;
    /* for making block header*/
}

.container {
    width: 1170px;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    float: left;
    margin-top: 36px;
}

.search-icon {
    float: right;
    margin-top: 50px;
    margin-left: 25px;
    padding-left: 25px;
    position: relative;
}

.search-icon::before {
    background: #cccccc;
    content: "";
    height: 15px;
    left: 0;
    top: 3px;
    width: 2px;
    position: absolute;
}

.main-menu {
    float: right;
}

.main-menu ul li {
    display: inline-block;
    /* float: left; */
    margin-left: 40px;
    position: relative;
}

.main-menu ul li a {
    color: #666666;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 50px 0;
}

.main-menu ul li ul.submenu {
    position: absolute;
    width: 260px;
    background-color: #171a21;
    top: 110%;
    left: 0;
    border-top: 5px solid #4272d7;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 99;
}

.main-menu ul li:hover ul.submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.main-menu ul li ul.submenu li {
    margin: 0;
    /*otherwise margin found from ancestor node*/
    display: block;
    border-bottom: 2px solid #1e2128;
}

.main-menu ul li ul.submenu li a {
    color: #fff;
    font-size: 13px;
    padding: 15px 20px;
    /*otherwise padding found from ancestor node*/
}

.main-menu ul li:hover>a {
    color: #4272d7;
}

/* .main-menu ul li ul.submenu li a:hover {
    background-color: #4272d7;
    padding-left: 30px;
} */
.main-menu ul li ul.submenu li:hover>a {
    background-color: #4272d7;
    padding-left: 30px;
}


/* for two dimension menu start */
.main-menu ul li ul.submenu li ul.submenu {
    left: 100%;
    opacity: 0;
    top: 0;
    visibility: hidden;
}

.main-menu ul li ul.submenu li:hover ul.submenu {
    opacity: 1;
    visibility: visible;
}

/* for two dimension menu end */

/* header end  */

/* slider area  start */

.single-slide {
    background-position: center top;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
    width: 100%;
}

.single-slide h4 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.single-slide h2 {
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.single-slide a {
    background: #4272d7;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 40px;
    text-decoration: none;
}

.slider-area {
    overflow: hidden;
    width: 100%;
}

.slider-active .owl-nav div {
    background: red;
    color: #fff;
    height: 40px;
    left: 50px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}

.slider-active .owl-nav div.owl-next {
    right: 50px;
    left: auto;
}

.slider-active .owl-dots {
    bottom: 40px;
    margin-top: -21px;
    position: relative;
    text-align: center;
    z-index: 999;
}

.slider-active .owl-dot {
    background: red;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 0 2px;
    width: 10px;
}

.slider-active .owl-dot.active {
    background: blue;
}

/* slider area  end */

/* cta area start  */
.cta-area {
    padding: 30px 0;
    background: #4272d7;
}

.cta-text p {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    margin-top: 9px;
}

.cta-text p span {
    font-size: 30px;
}

.cta-button a {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 17px 45px;
    font-weight: 700;
    text-decoration: none;
}

.cta-button {
    text-align: right;
}

/* cta area end  */

/* features area start  */
.features-area {
    padding: 70px 0;
}

.single-features {
    position: relative;
    overflow: hidden;
}

.features-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #507bd6;
    height: 100%;
    /* bottom: 0; */
    padding: 30px;
    transition: .3s;
    transform: translateY(66%);
}

.single-features:hover .features-content {
    transform: translateY(0%);
}

.features-icon {
    margin-bottom: 30px;
}

.features-icon i {
    color: #fff;
    display: inline-block;
    font-size: 30px;
}

.features-icon h3 {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    margin-left: 20px;
}

.features-content p {
    color: #e5e5e5;
    line-height: 25px;
}

.features-content a {
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

/* features area end  */

/* services-area start  */
.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.section-title>h2::before {
    position: absolute;
    background: #222;
    height: 2px;
    width: 50px;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.services-area {
    background: #f0f0f0;
    padding: 70px 0;
    padding-bottom: 20px;
}

.service-icon i {
    background: #4272d7;
    color: #fff;
    font-size: 26px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}

.service-content {
    padding-left: 15px;
}

.service-content h3 {
    color: #555555;
    font-weight: 700;
    margin-bottom: 15px;
}

.service-content p {
    color: #666666;
    font-size: 15px;
    line-height: 25px;
}

.single-service {
    display: flex;
    margin-bottom: 50px;
}

/* services-area end  */

/* project-area start  */

.project-wrapper {
    position: relative;
}

.project-img>img {
    width: 100%;
}

.project-img {
    position: relative;
}

.project-img::before {
    background: #507bd6;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    transition: .3s;
    opacity: 0;
}

.project-wrapper:hover .project-img::before {
    opacity: 1;
}

.project-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.project-wrapper:hover .project-content {
    opacity: 1;
    visibility: visible;
}

.project-content a {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    text-decoration: none;
}

.project-content span {
    color: #cccccc;
}

.section-title.white-text>h2 {
    color: #fff;
}

.section-title.white-text>h2::before {
    background-color: #ddd;
}

/* project-area end  */

/* video-area start  */
.video {
    position: relative;
}

.video>a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
    width: 55px;
    margin: auto;
    color: #fff;
    font-size: 50px;
}

.choose-list {
    margin-bottom: 30px;
    padding-left: 10px;
}

.choose-title {
    margin-bottom: 20px;
}

.choose-title i {
    color: #555555;
    display: inline-block;
    font-size: 18px;
}

.choose-title h3 {
    display: inline-block;
    padding-left: 15px;
    font-size: 16px;
    color: #555555;
}

/* video-area end  */

/* working-area start  */
.working-area {
    padding: 180px 0;
}

.section-title>p {
    margin: 30px 0;
}

.working-text a {
    background: #4272d7;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 40px;
    text-decoration: none;
}

/* working-area end  */

/* blog-area start  */

/* .blog-wrapper {
    display: inline;
} */

.blog-content {
    padding-left: 20px;
    float: left;
    width: 65%;
}

.blog-content>h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #555555;
}

.blog-content>p {
    color: #666666;
    line-height: 25px;
    margin-bottom: 10px;
}

.meta span a {
    color: #555555;
    font-size: 13px;
    text-decoration: none;

}

.meta span a i {
    color: #cccccc;
}

.meta>span {
    margin-right: 25px;
}

.blog-img {
    position: relative;
    float: left;
    width: 35%;
}

.blog-img>span {
    background: #1f2636;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 12px;
}

.section-title.border-left {
    text-align: left;

}

.section-title.border-left>h2::before {
    margin: 0;
}

.blog-active .owl-nav div {
    position: absolute;
    top: -61px;
    left: 230px;
    border: 1px solid #cccccc;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;

}

.blog-active .owl-nav div.owl-next {
    left: 270px;

}

/* blog-area end  */


/* brand-area start  */
.brand-active.owl-carousel .owl-item img {
    display: block;
    width: inherit;
}

/* brand-area end  */

/* footer-area start  */
footer {
    background: #171a21;
    overflow: hidden;
}

.footer-area {
    padding: 60px 0;
}

.footer-widget img {
    margin-bottom: 15px;
}

.footer-widget p {
    color: #999999;
    line-height: 22px;
    margin-bottom: 30px;
}

.footer-social>a {
    background: #1b2334;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    width: 35px;
}

.footer-social>a:hover {
    background: #4272d7;
}

.footer-widget h3 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer-link li {
    margin-bottom: 20px;
}

.footer-link li a {
    color: #cccccc;
    text-decoration: none;
    font-size: 13px;
}

.footer-contact>li {
    color: #999999;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 15px;
}

.footer-widget form input {
    background: #2f3138;
    border: 0;
    color: #fff;
    height: 40px;
    padding: 0 15px;
    width: 100%;
}

.footer-widget form {
    position: relative;
}

.footer-widget form button {
    background: #4272d7;
    border: 0;
    color: #fff;
    font-weight: 700;
    height: 100%;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.copyright-area {
    border-top: 1px solid #23262c;
    padding: 30px 0;
}

.copyright-text {
    color: #fff;
    text-align: center;
}

/* footer-area end  */